*{
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

:root{
 --main-color: #990000;
  scroll-behavior: smooth;
  font-family: "Permanent Marker", cursive;
}

/*mobile*/

@media (min-width: 600px) {
 .container {
  width: 550px;
}
}


@media (min-width: 679px) {
.container {
 width: 500px;
}
}

/*Small*/
@media (min-width: 768px) {
.container {
width: 750px;
}
}

/* Medium */
@media (min-width: 992px) {
.container {
width: 970px;
}
}

/*Large */
@media (min-width: 1200px) {
.container {
width: 1170px;
}
}

/*start component*/
.special-head{
 color: #ebeced;
 font-size: 70px;
 text-align: center;
 letter-spacing: -5px;
 margin: 0;
}

.special-head + p{
 margin: -12px 0 20px 7px;
 text-align: center;
 font-size: 17px;
 letter-spacing: 5px;
 color: #777;
}

.icon{
 transition: .3s;
}

.icon:hover{
 transform: scale(1.2);
}

/*end component*/

/*header start*/
.header{
 padding: 20px;
 display: flex;
 align-items: center;
 background-color: #f6f6f6;
 position: fixed;
 z-index: 1100;
 top: 0;
  width: 100%;
}

.header .container{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 98%;
 background-color: #f6f6f6;
}

.container .logo{
 width: 50px;
}

.container h1{
 margin: 0px;
 margin-right: 15px;
 padding: 0;
 color: var(--main-color);
}

.container .icon{
 width: auto;
 height: auto;
 font-size: 20px;
}

.header .links{
 position: relative;
}

.header .links ul{
 list-style: none;
 margin: 0px;
 padding: 0px;
 background-color: #D1CCCCE0;
 position: absolute;
 right: 0;
 min-width: 180px;
 top: 100%;
 display: none;
 z-index: 1;
}

.header .links:hover ul{
 display: block;
}

.header .links ul li a{
 display: block;
 padding: 15px;
 text-decoration: none;
 color: #333;
 transition: 0.3s;
}

.header .links ul li a:hover{
 padding-left: 25px;
}

.header .links ul li:not(:last-child) a{
 border-bottom: 1px solid #ddd;
}
/*header end*/

/*landing start*/
.landing{
 background-image: url(../images/samurai.jpg);
 background-size: cover;
 background-position: center;
 height: calc(100vh - 50px);
 position: relative;
 margin-top: 90px;
}
.landing .intro-text{
 position: absolute;
 left: 50%;
 top: 20%;
 transform: translate(-50%, -50%);
 text-align: center;
}
.landing .intro-text h1{
 margin: 0;
 color: var(--main-color);
 font-size: 50px;
 font-weight: bold;
}
.landing .intro-text p{
 margin: 0;
 font-size: 13px;
 color: #777;
 line-height: 1.8;
}
/*landing end*/

/*feature start*/
.fetures{
 padding-top: 60px;
 padding-bottom: 60px;
 background-color: #f6f6f6;
}

.fetures .container{
 display: grid;
 grid-template-columns: 
 repeat(auto-fill, minmax(300px, 1fr));
 grid-gap: 20px;
}

.fetures .container .feat{
 padding: 20px;
 text-align: center;
}

.fetures .feat .icon{
 color: var(--main-color);
 width: auto;
 height: auto;
 font-size: 20px;
}

.fetures .feat h3{
 font-weight: 800;
}

.fetures .feat p{
 margin: 20px 0;
 font-size: 17px;
 color: #777;
 line-height: 1.8;
}
/*feature end*/
/*services start*/
.services{
 padding-top: 60px;
 padding-bottom: 60px;
}

.services .services-contant{
 margin: 0;
 display: grid;
 grid-template-columns: 
 repeat(auto-fill, minmax(200px, 1fr));
 grid-gap: 20px;
 margin-top: 100px;
}

.services .services-contant .serv{
 display: flex;
 margin-bottom: 20px;
}

.services .serv .icon{
 color: var(--main-color);
 flex-basis: 40px;
}

.services .services-contant .serv .text{
 flex: 1;
}

.services .services-contant .serv .text h2{
 margin: 0 0 20px;
}

.services .services-contant .serv .text p{
 color: #777;
 font-weight: 300;
 line-height: 1.6;
}

.services .services-contant .image{
 text-align: center;
 margin-left: 20px;
}

.services .services-contant .image img{
 width: 280px;
 border-right: 10px solid var(--main-color);
 border-top: 10px solid var(--main-color);
 border-radius: 20%;
}
/*services end*/

/*portfolio start*/

.portfolio{
 padding-top: 60px;
 padding-bottom: 60px;
 background-color: #f6f6f6;
}

.portfolio .portfolio-contant{
 margin: 0;
 display: grid;
 grid-template-columns: 
 repeat(auto-fill, minmax(200px, 1fr));
 grid-gap: 20px;
 margin-top: 100px;
}

.portfolio .portfolio-contant .col-portfolio{
 margin: 0px;
 padding: 10px;
}

.col-portfolio .katana{
 width: 100%;
 border-radius: 50%;
}

.portfolio .col-portfolio .text{
 flex: 1;
}

.portfolio .col-portfolio .text h2{
 margin: 0 0 20px;
 text-align: center;
 color: var(--main-color);
}

.portfolio .col-portfolio .text p{
 color: #777;
 font-weight: 300;
 line-height: 1.6;
}
/*portfolio end*/

/*start about*/

.about{
 padding-top: 60px;
padding-bottom: 60px;
margin-top: 20px;
}

.about .about-content{
 margin-top: 20px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
}

.about .image{
width: 50%; 
margin: 20px auto;
position: relative;
padding: 10px;
height: 50%;
}

.about .about-content .image::before {
 content: "";
 position: absolute;
 background-color: var(--main-color);
 width: 50px;
 height: calc(100% + 50px);
 top: -25px;
 left: -10%;
 z-index: -1;
}

.about img{
 width: 100%;
}

.about .text{
 width: 50%;
 padding: 10px;
}

.about .text p:first-child{
 color: var(--main-color);
 font-weight: bold;
}

.about hr{
 border-color: var(--main-color);
 width: 75%;
}

.about .text p:last-child{
 color: #777;
 line-height: 1.6;
}
/*end about*/
/*order start*/
.order{
 padding-top: 60px;
 padding-bottom: 60px;
 background-color: #f6f6f6;
}

.order .label{
 text-align: center;
}

.order .label h3{
 font-weight: 800;
 color: #333;
 font-size: 40px;
 margin-bottom: 0;
}

.order .label a{
 text-decoration: none;
 color: var(--main-color);
 font-size: 30px;
}

.order .social{
 color: #333;
 font-size: 18px;
 margin-top: 20px;
 text-align: center;
}

.order .social .a{
 text-decoration: none;
}

.order .social i{
 color: var(--main-color);
 font-size: 20px;
}
/*order end*/

/*start foot*/
.footer{
 background-color: #333;
 color: #fff;
 text-align: center;
 height: 30px;
}

.footer span{
 color: var(--main-color);
 font-weight: bold;
}
/*end foot*/

